<header>
  <h1>SWA App</h1>
</header>

<nav>
  <ul>
    <li><a routerLink="/books" routerLinkActive="active" ariaCurrentWhenActive="page">Books</a></li>
    <li><a routerLink="/authors" routerLinkActive="active" ariaCurrentWhenActive="page">Authors</a></li>
    <li><a routerLink="/shops" routerLinkActive="active" ariaCurrentWhenActive="page">Shops</a></li>
  </ul>
</nav>

<div id="content">
  <router-outlet></router-outlet>
</div>

<footer>
  <p>&copy; <a href="https://uhl1k.com">uhl1k.com</a> 2023</p>
</footer>
