<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Opens</th>
    <th>Closes</th>
  </tr>

  <tr *ngFor="let shop of shops">
    <td>{{shop.name}}</td>
    <td>{{shop.address}}</td>
    <td>{{shop.phone}}</td>
    <td>{{shop.email}}</td>
    <td>{{shop.opens}}</td>
    <td>{{shop.closes}}</td>
  </tr>

  <tr *ngIf="!error && !loading && (shops === undefined || shops.length === 0)"><td colspan="6" style="text-align: center">No data :(</td></tr>
  <tr *ngIf="error"><td colspan="6" style="text-align: center">Error</td></tr>
  <tr *ngIf="loading"><td colspan="6" style="text-align: center">Loading</td></tr>
</table>
